mmsinc/MapCall.SAP/wsdl/CompleteWorkOrder_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:p1="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="CompleteWorkOrderResponse" type="CompleteWorkOrderStatus"/>
            <xsd:element name="CompleteWorkOrderRequest" type="CompleteWorkOrder"/>
            <xsd:complexType name="CompleteWorkOrder">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="WorkOrder">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="UserID" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeConfirmation">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="AssetType" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="Notes" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="SAPOrderNo" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="DateCompleted" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="Employee" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="ActualWork" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="Finalize" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="StartTime" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="EndTime" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="CustomersAffected" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="ShutDownTime" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="LostWater" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="ChlorineResidual" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="TotalChlorine" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="Depth" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="FootageReplaced" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ChangeOrder">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="WorkOrderDescription" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="PMActType" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="Notes" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ChangeNotification">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="Size" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="ReplacedWith" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="FailureType" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="SoilCondition" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="MainInvestigation" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="DisinfectionMethod" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="FlushMethod" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CompleteWorkOrderStatus">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Status">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="OrderNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NotificationNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WBSElement" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CostCenter" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CompleteWorkOrderRequest">
<wsdl:documentation/>
    <wsdl:part name="CompleteWorkOrderRequest" element="p1:CompleteWorkOrderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CompleteWorkOrderResponse">
<wsdl:documentation/>
    <wsdl:part name="CompleteWorkOrderResponse" element="p1:CompleteWorkOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CompleteWorkOrder_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="CompleteWorkOrder_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:CompleteWorkOrderRequest">
    </wsdl:input>
      <wsdl:output message="p1:CompleteWorkOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompleteWorkOrder_OB_SYNBinding" type="p1:CompleteWorkOrder_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="CompleteWorkOrder_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:CompleteWorkOrder_OB_SYNBinding">
      <soap:address location="https://e10028-iflmap.hcisbt.us3.hana.ondemand.com:443/cxf/CompleteWorkOrder"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
