mmsinc/MapCall.SAP/wsdl/Equipments_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0006/MAPCALL/CreateUpdate_Equipment" xmlns:p1="http://amwater.com/EAM/0006/MAPCALL/CreateUpdate_Equipment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0006/MAPCALL/CreateUpdate_Equipment" xmlns="http://amwater.com/EAM/0006/MAPCALL/CreateUpdate_Equipment" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="Equipments_Response" type="SAPEquipmentStatus"/>
            <xsd:element name="Equipments_Request" type="Equipments"/>
            <xsd:complexType name="Equipments">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Equipments">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="Indicator" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MapCallRecordURL" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EquipmentCategory" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="InventoryNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SAPEquipmentNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AssetType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="RefEquipmentNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="FunctionalLocID" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SuperOrdEquip" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AuthGroup" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StartUpDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Manufacturer" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Model" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="YearManufactured" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MonthManufactured" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ABCIndicator" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SortField" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CostCenter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ControllingArea" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlanningPlant" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlannerGroup" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MainWorkCenter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CatalogProfile" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="House" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Street1" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Street2" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Street5" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="City" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="OtherCity" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="State" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ZipCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Latitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Longitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EquipmentSystemStatus" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EquipmentUserStatus" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ValidFrom" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ValidTo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DateRecordCreated" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Size" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AcquisitionValue" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CurrencyKey" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AcquisitionDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ManufacturerSerialNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ManufacturerPartNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ManufacturerDrawingNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WarrantyStartDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WarrantyEndDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Location" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Room" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlantSection" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="TechnicalID" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Permit" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Class_GENERIC">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttributeList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element name="AttribName" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="AttribVal" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SAPEquipmentStatus">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Equipments">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="SAPEquipmentNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Equipments_Request">
<wsdl:documentation/>
    <wsdl:part name="Equipments_Request" element="p1:Equipments_Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Equipments_Response">
<wsdl:documentation/>
    <wsdl:part name="Equipments_Response" element="p1:Equipments_Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Equipments_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="Equipments_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:Equipments_Request">
    </wsdl:input>
      <wsdl:output message="p1:Equipments_Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Equipments_OB_SYNBinding" type="p1:Equipments_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="Equipments_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:Equipments_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateUpdate_Equipments"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
