mmsinc/MapCall.SAP/wsdl/GoodsIssue_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:p1="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns="http://amwater.com/EAM/0009/MAPCALL/CompleteWorkOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="GoodsIssueRequest" type="GoodsIssue"/>
            <xsd:element name="GoodsIssueResponse" type="GoodsIssueStatus"/>
            <xsd:complexType name="GoodsIssueStatus">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="GoodsIssueStatus">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="OrderNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MaterialDocument" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GoodsIssue">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="GoodsIssue">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="UserID" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DocumentDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PostingDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MovementType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Plant" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Order" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MaterialNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Quantity" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StorageLocation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="UnitOfEntry" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GoodsIssueRequest">
<wsdl:documentation/>
    <wsdl:part name="GoodsIssueRequest" element="p1:GoodsIssueRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoodsIssueResponse">
<wsdl:documentation/>
    <wsdl:part name="GoodsIssueResponse" element="p1:GoodsIssueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GoodsIssue_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="GoodsIssue_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:GoodsIssueRequest">
    </wsdl:input>
      <wsdl:output message="p1:GoodsIssueResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoodsIssue_OB_SYNBinding" type="p1:GoodsIssue_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="GoodsIssue_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:GoodsIssue_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/GoodsIssue"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
