mmsinc/MapCall.SAP/wsdl/MaintenancePlanLookup_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0027/MAPCALL/MaintenancePlan" xmlns:p1="http://amwater.com/EAM/0027/MAPCALL/MaintenancePlan" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0027/MAPCALL/MaintenancePlan" xmlns="http://amwater.com/EAM/0027/MAPCALL/MaintenancePlan" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MaintenancePlanLookup_Request" type="MaintenancePlan_Query"/>
            <xsd:element name="MaintenancePlanLookup_Response" type="MaintenancePlan_Info"/>
            <xsd:complexType name="MaintenancePlan_Query">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="FunctionalLocation" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SAPEquipmentType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SAPEquipmentID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MaintenancePlan" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OperatingCentre" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MaintenancePlan_Info">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="MaintenancePlan" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Createdon" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MaintenancePlanText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MaintenancePlanSortField" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MaintenancePlancategory" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="CycleList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="Cycle" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="CycleUnit" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="CycleText" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="MaintenanceItemList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="MaintenanceItem" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="MaintenanceItemDescription" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="FunctionalLocation" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="FunctionalLocationdescription" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Equipment" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="PlanningPlant" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="MaintenanceActivityType" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="MainWorkCenter" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Priority" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="PriorityText" type="xsd:string"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ObjectListItem">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="Equipment" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="EquipmentDescription" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="FunctionalLocation" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="FunctionalLocationDescription" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="TaskList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="TaskListType" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="TaskList" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="GroupCounter" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="TaskListDescrption" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Usage" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="WorkCenter" type="xsd:string"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Operations">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element minOccurs="0" name="OperationsActivity" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="Frequency" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="WorkCenter" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="Duration" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="OperationOrActivityNumber" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="Plant" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="ControlKey" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="OperationDescription" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="WorkInvolved" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="Unit1" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="NumberOfCapacityrequired" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="NormalDurationOfActivity" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="Unit2" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="ActivityType" type="xsd:string"/>

                                    <xsd:element minOccurs="0" name="StandardTextKey" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="SchedulingList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="CallNumber" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="PlanDate" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="CallDate" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="CompletionDate" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="SchedulingType" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="SAPStatus" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MaintenancePlanLookup_Response">
<wsdl:documentation/>
    <wsdl:part name="MaintenancePlanLookup_Response" element="p1:MaintenancePlanLookup_Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MaintenancePlanLookup_Request">
<wsdl:documentation/>
    <wsdl:part name="MaintenancePlanLookup_Request" element="p1:MaintenancePlanLookup_Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MaintenancePlanLookup_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="MaintenancePlanLookup_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:MaintenancePlanLookup_Request">
    </wsdl:input>
      <wsdl:output message="p1:MaintenancePlanLookup_Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaintenancePlanLookup_OB_SYNBinding" type="p1:MaintenancePlanLookup_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="MaintenancePlanLookup_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:MaintenancePlanLookup_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/MaintenancePlanLookup"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
