mmsinc/MapCall.SAP/wsdl/TechnicalMaster_AccountDetails_Get_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0015/MAPCALL/GetTechnicalMaster_AccountDetails" xmlns:p1="http://amwater.com/EAM/0015/MAPCALL/GetTechnicalMaster_AccountDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0015/MAPCALL/GetTechnicalMaster_AccountDetails" xmlns="http://amwater.com/EAM/0015/MAPCALL/GetTechnicalMaster_AccountDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="TechnicalMaster_AccountDetails_Response" type="TechnicalMaster_AccountDetailsInfo"/>
            <xsd:element name="TechnicalMaster_AccountDetails_Request" type="TechnicalMaster_AccountDetailsQuery"/>
            <xsd:complexType name="TechnicalMaster_AccountDetailsQuery">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PremiseNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Equipment" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="InstallationType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TechnicalMaster_AccountDetailsInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="InstallationType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Device" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MeterSize" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DeviceLocation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Installation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AccountNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AccountStatusAfterReview" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Customer" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Owner" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="BillingClassification" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerEmail" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Phone" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MobilePhone" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ServiceSize" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Equipment" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ManufacturerSerialNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CriticalCareType" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Exception" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TechnicalMaster_AccountDetails_Request">
<wsdl:documentation/>
    <wsdl:part name="TechnicalMaster_AccountDetails_Request" element="p1:TechnicalMaster_AccountDetails_Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TechnicalMaster_AccountDetails_Response">
<wsdl:documentation/>
    <wsdl:part name="TechnicalMaster_AccountDetails_Response" element="p1:TechnicalMaster_AccountDetails_Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TechnicalMaster_AccountDetails_Get_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="TechnicalMaster_AccountDetails_Get_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:TechnicalMaster_AccountDetails_Request">
    </wsdl:input>
      <wsdl:output message="p1:TechnicalMaster_AccountDetails_Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TechnicalMaster_AccountDetails_Get_OB_SYNBinding" type="p1:TechnicalMaster_AccountDetails_Get_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="TechnicalMaster_AccountDetails_Get_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:TechnicalMaster_AccountDetails_Get_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/GetTechnicalMaster_AccountDetails"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
