mmsinc/MapCall.SAP/wsdl/WBSElement_Get_OB_SYN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/EAM/0020/MAPCALL/GetWBSElement" xmlns:p1="http://amwater.com/EAM/0020/MAPCALL/GetWBSElement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/EAM/0020/MAPCALL/GetWBSElement" xmlns="http://amwater.com/EAM/0020/MAPCALL/GetWBSElement" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="WBSElementResponse" type="WBSElementInfo"/>
            <xsd:element name="WBSElementRequest" type="WBSElementQuery"/>
            <xsd:complexType name="WBSElementQuery">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="WBSNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WBSDescription" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ProjectDefinition" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlanningPlant" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ProjectType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ProfitCentre" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ProfitCentreFieldName" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AssetCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Year" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SystemStatus" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WBSElementInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="WBSElement" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WBSDescription" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StatusCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StartDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EndDate" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="SAPStatus" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WBSElementRequest">
<wsdl:documentation/>
    <wsdl:part name="WBSElementRequest" element="p1:WBSElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WBSElementResponse">
<wsdl:documentation/>
    <wsdl:part name="WBSElementResponse" element="p1:WBSElementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WBSElement_Get_OB_SYN">
<wsdl:documentation/>
    <wsdl:operation name="WBSElement_Get_OB_SYN">
<wsdl:documentation/>
      <wsdl:input message="p1:WBSElementRequest">
    </wsdl:input>
      <wsdl:output message="p1:WBSElementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WBSElement_Get_OB_SYNBinding" type="p1:WBSElement_Get_OB_SYN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WBSElement_Get_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:WBSElement_Get_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/GetWBSElement"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
