mmsinc/MapCall.SAP/wsdl/WO_Predispatch_PULL_OB_SYC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amwater.com/PTB/200018/MAPCALL/WorkOrderPreDispatch_Pull" xmlns:p1="http://amwater.com/PTB/200018/MAPCALL/WorkOrderPreDispatch_Pull" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://amwater.com/PTB/200018/MAPCALL/WorkOrderPreDispatch_Pull" xmlns="http://amwater.com/PTB/200018/MAPCALL/WorkOrderPreDispatch_Pull" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="WorkOrder_Predispatch_Pull_Response" type="WO_Predispatch_PULL_Status"/>
            <xsd:element name="WorkOrder_Predispatch_Pull_Request" type="WO_Predispatch_PULL_Query"/>
            <xsd:complexType name="WO_Predispatch_PULL_Query">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="WorkOrder" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Priority" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="FSRid" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WorkCenter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlanningPlant" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WOStartDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WOEndDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StatusNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="OrderType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MATCode" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WO_Predispatch_PULL_Status">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="EquipText" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="EquipmentNode">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="EquipmentID" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ProcessingIndicator" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="DeviceCategory" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="DeviceLocation" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Installation" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ServiceType" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="InstallationType" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="FunctionalLocation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="InstallationDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="HouseNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Street" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="City" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="State" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Zip" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Criticality" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="YearMFG" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Latitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Longitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Manufacturer" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EquipLongText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SafetyConcernDescr" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NotificationNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NotificationShortText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NotificationLongText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PriorityText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="BackReportingType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Premise" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PremiseAddress" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="BeforeAddress" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AfterAddress" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CreateTime" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CreateDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AsFoundCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CurbBox_Longitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CurbBox_Latitude" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WorkOrder" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="EarlyStartDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="BasicStartDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="StartTime" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DueDate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DueTime" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WBSElement" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlanningPlant" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WorkOrderDescription" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WorkOrderLongText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MATCode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MatCodeDescription" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="OperationText" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="FSRid" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="FSRName" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerNo" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Customer" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerPhone" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerAlternatePhone" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerMailingAddress" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CrossStreet" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="IsWorkRequired" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NextReplacementYear" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ServiceType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ServiceFound" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AppointmentStart" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AppointmentEnd" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AssignmentStart" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AssignmentEnd" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MeterSerialNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MFGSerialNum" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="IsCustomerEnrolledForEmail" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="IsUpdate" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="OrderType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="OperationID" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WorkCenter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerAccount" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Installation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NormalDuration" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="NormalDurationUnit" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PlannerGroup" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CrewSize" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LiabilityIndicator" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PhoneAhead" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerAtHome" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityThreatNode">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element minOccurs="0" name="ThreatStart" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ThreatEnd" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="SecurityThreatText" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ISPoliceEscort" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="PoliceEscortActive" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Threat_Notif_No" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="Address_security" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ISPendingInvestigation" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="CreationDate" type="xsd:string"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="FixedChargeNoMeter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MatCodeEscalator" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="AmountDue" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ReconnectionFee" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ReconnectionFeeWaived" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerName" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ContactNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="DunningLock" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="PremiseType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LandlordAllocation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LandlordBusinessPartnerNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LandlordConnectionContractNumber" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ConsecutiveIncompletesOnPremise" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ReplacementMeterFlag" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ReplacementMeterDesc" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="ServiceLineSize" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="MeterReadingUnit" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LeakDetectedLastVisit" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SAPStatus" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="InternalLeadPipingIndicator" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CustomerSideMaterial" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Locality" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="LocalityDescription" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="District" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="CriticalCareType" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SewerAuthorityCode1" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SewerAuthorityCode2" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SewerAuthorityCode3" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="WaterLineProtection" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="SewerLineProtection" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="InHomeProtection" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WorkOrder_Predispatch_Pull_Response">
<wsdl:documentation/>
    <wsdl:part name="WorkOrder_Predispatch_Pull_Response" element="p1:WorkOrder_Predispatch_Pull_Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WorkOrder_Predispatch_Pull_Request">
<wsdl:documentation/>
    <wsdl:part name="WorkOrder_Predispatch_Pull_Request" element="p1:WorkOrder_Predispatch_Pull_Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WO_Predispatch_PULL_OB_SYC">
<wsdl:documentation>Predispatch Pull interface from Mapcall to SAP</wsdl:documentation>
    <wsdl:operation name="WO_Predispatch_PULL_OB_SYC">
<wsdl:documentation/>
      <wsdl:input message="p1:WorkOrder_Predispatch_Pull_Request">
    </wsdl:input>
      <wsdl:output message="p1:WorkOrder_Predispatch_Pull_Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WO_Predispatch_PULL_OB_SYCBinding" type="p1:WO_Predispatch_PULL_OB_SYC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="WO_Predispatch_PULL_OB_SYC">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:WO_Predispatch_PULL_OB_SYCBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/WO_Predispatch_Pull"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
