mmsinc/MapCall.SAP/Service References/CreateUnscheduledWOWS/CreateUnscheduledWO_OB_SYN1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://amwater.com/EAM/0007/MAPCALL/CreateWorkOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://amwater.com/EAM/0007/MAPCALL/CreateWorkOrder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy required="true" />
  <wsp:Policy wsu:Id="BN__binding">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:HttpBasicAuthentication />
                      <sp:RequireClientCertificate />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <wsp:ExactlyOne>
                  <sp:Basic256 />
                  <sp:Basic192 />
                  <sp:Basic128 />
                  <sp:TripleDes />
                  <sp:Basic256Rsa15 />
                  <sp:Basic192Rsa15 />
                  <sp:Basic128Rsa15 />
                  <sp:TripleDesRsa15 />
                  <sp:Basic256Sha256 />
                  <sp:Basic192Sha256 />
                  <sp:Basic128Sha256 />
                  <sp:TripleDesSha256 />
                  <sp:Basic256Sha256Rsa15 />
                  <sp:Basic192Sha256Rsa15 />
                  <sp:Basic128Sha256Rsa15 />
                  <sp:TripleDesSha256Rsa15 />
                </wsp:ExactlyOne>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://amwater.com/EAM/0007/MAPCALL/CreateWorkOrder" targetNamespace="http://amwater.com/EAM/0007/MAPCALL/CreateWorkOrder">
      <xsd:element name="UnscheduledWORequest" type="p1:CreateUnscheduledWO" />
      <xsd:element name="UnscheduledWOResponse" type="p1:UnscheduledWOStatus" />
      <xsd:complexType name="UnscheduledWOStatus">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Status">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="SAPOrderNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="SAPNotificationNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="WBSElement" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SAPStatus" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateUnscheduledWO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WorkOrder">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="OrderType" type="xsd:string" />
                <xsd:element minOccurs="0" name="Priority" type="xsd:string" />
                <xsd:element minOccurs="0" name="FunctionalLocation" type="xsd:string" />
                <xsd:element minOccurs="0" name="Equipment" type="xsd:string" />
                <xsd:element minOccurs="0" name="ShortText" type="xsd:string" />
                <xsd:element minOccurs="0" name="LongText" type="xsd:string" />
                <xsd:element minOccurs="0" name="MaintenanceActivityType" type="xsd:string" />
                <xsd:element minOccurs="0" name="BasicStartDate" type="xsd:string" />
                <xsd:element minOccurs="0" name="Operation" type="xsd:string" />
                <xsd:element minOccurs="0" name="OperationDuration" type="xsd:string" />
                <xsd:element minOccurs="0" name="Purpose" type="xsd:string" />
                <xsd:element minOccurs="0" name="PurposeCode" type="xsd:string" />
                <xsd:element minOccurs="0" name="Permits" type="xsd:string" />
                <xsd:element minOccurs="0" name="BreakDownIndicator" type="xsd:string" />
                <xsd:element minOccurs="0" name="SettlementReceiver" type="xsd:string" />
                <xsd:element minOccurs="0" name="Employee" type="xsd:string" />
                <xsd:element minOccurs="0" name="PersonResponsible" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UnscheduledWORequest">
    <wsdl:documentation />
    <wsdl:part name="UnscheduledWORequest" element="p1:UnscheduledWORequest" />
  </wsdl:message>
  <wsdl:message name="UnscheduledWOResponse">
    <wsdl:documentation />
    <wsdl:part name="UnscheduledWOResponse" element="p1:UnscheduledWOResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateUnscheduledWO_OB_SYN">
    <wsdl:documentation />
    <wsdl:operation name="CreateUnscheduledWO_OB_SYN">
      <wsdl:documentation />
      <wsdl:input message="p1:UnscheduledWORequest" />
      <wsdl:output message="p1:UnscheduledWOResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateUnscheduledWO_OB_SYNBinding" type="p1:CreateUnscheduledWO_OB_SYN">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__binding" />
    </wsp:Policy>
    <wsdl:operation name="CreateUnscheduledWO_OB_SYN">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="p1:CreateUnscheduledWO_OB_SYNBinding">
      <soap:address location="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateUnscheduledWO" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>